<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5ef4c714-074a-4b5b-a2d7-7adac54195c6" name="Test Suite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5ef4c714-074a-4b5b-a2d7-7adac54195c6fileName">Test-Suite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
