<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0441241b-dfd7-42d0-bdd7-3d70d5f8b89d" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0441241b-dfd7-42d0-bdd7-3d70d5f8b89dfileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
